@{
    ViewData["Title"] = "Home Page";
}
@model List<Employee>

<div class="employee-wrapper">
    <table>
        <thead>
            <th>Id</th>
            <th>Name</th>
        </thead>
        <tbody>
            @foreach (var emp in Model)
            {
                <tr>
                    <td>@emp.EmployeeId</td>
                    <td>@emp.EmployeeName</td>
                </tr>
            }
        </tbody>
    </table>
</div>